@media (max-width: 900px) {

    header {
        padding: 15px 25px;
    }

    .desktop-nav,
    .desktop-auth {
        display: none;
    }

    .menu-btn {
        display: block;
        color: var(--primary);
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 15px;
        width: 230px;
        background: white;
        padding: 12px 0;
        border-radius: 8px;
        box-shadow: 0 3px 12px rgba(0,0,0,0.2);

        transform: translateY(-12px);
        opacity: 0;
        transition: all 0.35s ease;
    }

    .mobile-menu.show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .mobile-menu a:hover {
        background: var(--light-green);
        border-left: 3px solid var(--primary);
    }

    .hero-section {
        height: auto;
        padding: 80px 20px;
    }

    .search-section {
        width: 90%;
    }

    .search-section form {
        flex-direction: column;
        gap: 10px;
    }

    .property-card {
        width: 90%;
        max-width: 350px;
    }

    .auth-container {
        width: 90%;
    }
}
